body {
	padding-top: 0px;
	padding-bottom: 0px;
}

.navbar {
	margin-top:-490px;
	border-radius: 0px;
  	border: 1px solid #D0D0D0;
	box-shadow: 0 0 3px #D0D0D0;
	background-color: #fcfcfc;
}

.jumbotron{
	background-color: #ffffff;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 3px #D0D0D0;
	margin-top:20px;
	height:590px;
}
